.container {
	background: var(--white);
	padding: 40px;
	margin: 60px;
	border-radius: 6px;
	color: var(--text);
	width: 860px;
	max-width: 80vw;
	border: 1.5px outset #617777;
	border-bottom: 4px outset #617777;
	position: relative;
}

.container img {
	width: auto;
	height: auto;
}

.container hr {
	width: 100%;
    margin: 60px 0 0;
    border: none;
    border-top: 3px dashed var(--light);
    height: 1px;
    opacity: 0.6;
}

.container .flex-row {
	align-items: center;
}

.text-area {
	padding: 10px;
    line-height: 1.5;
}

.text-area p {
	text-indent: 24px;
}

.text-area p:first-child {
	margin-top: 0;
}

.text-area p:last-child {
	margin-bottom: 0;
}

img.display-image {
	box-sizing: border-box;
	width: 450px;
    max-width: 70%;
    height: 470px;
    object-fit: contain;
    padding: 10px;
}

img.display-image.wide {
	padding: 10px 0;
}

img.display-image.tall {
	padding: 0 10px;
	height: 530px;
}

img.icon-image {
	width: auto;
	margin: auto;
	max-width: 300px;
}

ul, .heritage {
	padding: 20px;
	margin: 0;
	list-style: none;
	font-family: 'Alumni Sans SC';
	font-size: 1.45em;
	border: 1px solid var(--light);
	border-top: 2px solid var(--light);
	border-bottom: 2px solid var(--light);
	margin: 10px;
	border-radius: 8px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

li.divider {
	text-align: center;
	margin: 10px;
}

.list-header{
	position: sticky;
    top: 0;
    background: var(--white);
}

.sticky-block {
	padding: 0;
	margin: 0 0 -40px;
}

.sticky-block hr {
	border:none;
	border-top: 1px solid #000000;
	opacity: 0.8;
}

#page-nav {
	position: absolute;
	right: 0;
	margin-right: 40px;
	font-size: 0.9rem;
	font-weight: 900;
}

#nav-dropdown {
	font-family: 'Mooli';
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
	padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--black);
    background: var(--light);
    color: var(--white);
    margin: 4px;
    transition: 200ms ease;
}

#page-nav i {
	font-size: 80%;
	margin: 5% 0;
}

#nav-dropdown:hover, #nav-dropdown:focus {
	background: var(--mid);
}

#tab-container {
	display: flex;
	align-items: center;
    height: 100%;
}

.area-title {
	font-family: 'Alumni Sans SC';
	font-size: 2em;
	font-weight: 550;
	top: -22px;
    position: relative;
    width: 100%;
    background: linear-gradient(90deg,var(--white) 10%, transparent 100%);
}

.swatch {
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width:50px;
	height:50px;
	color:#000000;
	text-shadow:-1px -1px 0 #ffffff,0 -1px 0 #ffffff,1px -1px 0 #ffffff,1px 0 0 #ffffff,1px 1px 0 #ffffff,0 1px 0 #ffffff,-1px 1px 0 #ffffff,-1px 0 0 #ffffff;
	font-weight:bold;
	margin:6px;
	border: 1px solid var(--light);
}

ul .number {
	font-size: 70%;
	color: var(--mid);
	font-family: 'Mooli';
	margin: 2px;
}

ul .number b {
	font-family: 'Alumni Sans SC';
	font-weight: 500;
	background: var(--mid);
	color: var(--white);
	border-radius: 100%;
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.heritage .tooltip {
	height: 26px;
}

.heritage .tooltiptext {
	width: 200px;
	bottom: 120%;
	background: var(--light);
	border: 1px solid var(--mid);
}

.heritage .tooltiptext:after {
	border-color: var(--mid) transparent transparent transparent;
}

.heritage img {
	width:100%;
}

.heritage a {
	display: block;
    text-align: center;
}

.heritage .flex-column {
	align-items: center;
	gap: 80px;
	min-width: 100px;
}

.heritage .flex-row {
	justify-content: center;
	margin-right: 20px;
}

.heritage i, .subtitle i, h2 i {
	font-size: 70%;
	margin: 2.5px 0;
}

.flex-column.group {
	gap: 20px;
}

.border-box {
	border: 1px solid var(--light);
	border-top: 2px solid var(--light);
	border-bottom: 2px solid var(--light);
	border-radius: 8px;
	margin: 10px;
	padding: 20px;
	position: relative;
	flex-grow: 1;
}

.border-box ul { 
	border: none;
	padding: 0;
}

.subtitle {
	font-size: 1.5rem;
    position: absolute;
    top: -40px;
    left: 10px;
    font-weight: 500;
    background: var(--white);
    padding: 0 6px;
}

#foal-gallery .flex-row {
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

#foal-gallery a {
	width: 33.3%;
}

.tab {
	flex-direction: column;
	margin-top: 10px;
	flex-grow: 1;
}

#tab-one > * {
	flex-grow: 1;
}

.open-green {
	color: green;
	font-weight: bold;
}

.dark-mode .open-green {
	color:#5cd65c;
}

.closed-red {
	color: #c90e0e;
	font-weight: bold;
}

.dark-mode .closed-red {
	color:#fb3636;
}

/** Media Queries **/


@media (max-width:900px) {
	.container {
		max-width: calc(100% - 40px);
		margin: 60px 20px 20px;
	}
}

@media (max-width:780px) {
	.container {
		max-width: calc(100% - 20px);
		margin: 50px 10px 20px;
		padding: 10px;
	}

	#foal-gallery .flex-row {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	#foal-gallery a {
		width: 300px;
		max-width: 100vw;
	}

	.flex-row {
		flex-direction: column;
	}

	.heritage {
		padding: 20px 0;
	}

	.heritage .flex-row {
		flex-direction: row;
	}

	img.display-image {
		width: unset;
        max-width: 100%;
        height: unset;
        max-height: 50vh;
        padding: 0;
        margin: -8px -8px 0;
	}

	img.display-image.tall {
        padding: 0;
        max-height: 60vh;
        height: unset;
	}

	img.display-image.wide {
		width: unset;
        padding: 0;
        max-width: 110%;
	}

	ul, .heritage, .border-box {
		align-self: stretch;
	}

	#page-nav, #page-nav .flex-row {
		flex-direction: row;
	}

	#page-nav {
		margin: 0;
		top: -45px;
	}

	.display-image ~ ul {
		text-align: center;
	}
}

@media (max-width:480px) {
	.heritage .flex-row {
		zoom: 90%;
	}

	.heritage .flex-column {
		margin: 0 -10px;
	}
}

